APP_PORT=8080
DATABASE_URL=postgres://example:example@db:5432/example?sslmode=disable
POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_DB=example
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDoSpOBnkHmVCwR
Cxm7sLlbZ5uCYqVs0BMMu5wzNJQTq7plq1XcbDC5+0qTeMB/6ZNmacaZRV5op2Wq
3fuE+OeFOBlhE8/SHxxIXLEow2iqCyR85kZRLzLO7F+8vL6hnLWefrnq8VcWlvgV
aq8k1DMAswqKTE17kBLY6TMu6bNycnQHIAhGW7U9jNAOk7eP3eRZjAGAzuedvG85
LinPCd0/C9p5WzBOX3JNnxp5bgcYF0aWjWf1M5v5XqrsR8PxnMzn8ddax/Z8BPgB
yBmLGnHA14RiNDPKOaj3ka2J3YTymnxDthPeb7Hgb4C+mX5gm0h7OEQr2yo2+ZhT
j+YqVoTbAgMBAAECggEBAIxrcIm9YjbbERxoanDkXthbZE1IVpnVmn5q9vyZPx45
BF+rWCb8G+SBfM5zA2MPjrQtIwnKPkzjTHki4YW7dTE5/VWKxWlOtykjJ1Dt91o7
jB4Ykc9Hyd3+U81jB5Xohn2+O6NDqxKTxnoj2KZZxE8a7Dc38urL6CjJp9AnI/v8
/wha6Sl2RBdSnH/jExl/TtJ2YjYZGlQuOKUlXTuu02PKNcfAk6crKJm7Se0JaSnJ
JtHYeHetx26Xo5a5ufaeYbfxNv5h6SJS5oaJx/Y2Or+PpMHBseTIaN3YXr67Tpdv
takGl2PiCzKYzKorIqQ3A3quyXNIUa4bAHV8pHuLeHECgYEA/dKvY9Zj5KSMIX45
ufg+ZWam7ruOSnQh324q4ZAtZeE0T7AUzgUYP8anlSaxEKI96pOwMdplDOCyI9VO
VrNnNyfu9+IXb0d3pvz6eMs/hurFhPm/EEMaL9et+mg0bsKBCe3vbGf2xs7W3Eab
hqspjBI+qXWOpFEgZzj7278tDHMCgYEA6kidRWnDCYKRp7ewDMYjsNlPmXIcpp1J
f6Ydj2jr0BCRJ949zMk3yzPciCHLMms19enjGJlNil7PhiaBslth556wEieODqNd
z0zggZwWYt3pmJPiiLlf/aFMwm67HPshJgdNJ8RDln+Bmqw33Fp4RVoeEV1Trtte
irUbWj2rs/kCgYBdhUowO+b0cJhdItf8KHY9AFSTc7Gaxy1P2JSeJXRErHSMw/D2
c7Qak4RdlTL6UP0FOENcKv6+fu/D+izyDwoBrYoD9V7zFl8EvQNAjIqsmEYMl8SJ
JmA4rnwg3lIrWSkYUn278JZhbAaIhM97EAev320NHQ5ghq+suLc7oTXk9wKBgQDL
YCu+RPg9Oi4s1MUr4Zi7/Xke8DM045cZC1/fzSnfnXIUlNU6/3XCnQuU1RkqdG0M
Q3OTOAla08D8aFLwPGm6AkRADjxAMsrNmKPPf2rjelY80Cu3moxchPg4VJ1zpAD7
nRz6J2Kws5ETbuqzC4oaUgeF9WkegmoIqPzMknqKKQKBgQD2BD1uMaxgpYYuzupJ
yiajFykqBpC6Ptt8XgwGtrIJrGMT8T+Hqao09ViTKwQpSr1OITYVUBKtJzZMRaBa
6KvkWIv4x0P59QmAg5znIp/pDBRWdWIbiia8PcKgNTYccHegjR6JuuBKMbOKYZSM
gbkDc8M1VGPAnb6CfEYA6RX2WQ==
-----END PRIVATE KEY-----"

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA6EqTgZ5B5lQsEQsZu7C5
W2ebgmKlbNATDLucMzSUE6u6ZatV3GwwuftKk3jAf+mTZmnGmUVeaKdlqt37hPjn
hTgZYRPP0h8cSFyxKMNoqgskfOZGUS8yzuxfvLy+oZy1nn656vFXFpb4FWqvJNQz
ALMKikxNe5AS2OkzLumzcnJ0ByAIRlu1PYzQDpO3j93kWYwBgM7nnbxvOS4pzwnd
PwvaeVswTl9yTZ8aeW4HGBdGlo1n9TOb+V6q7EfD8ZzM5/HXWsf2fAT4AcgZixpx
wNeEYjQzyjmo95Gtid2E8pp8Q7YT3m+x4G+Avpl+YJtIezhEK9sqNvmYU4/mKlaE
2wIDAQAB
-----END PUBLIC KEY-----"
